<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>content</title>
    <!-- head include -->
    <%- include('./include/head.ejs') %>

    <style>
      h1,
      div {
        text-align: center;
      }

      P {
        white-space: pre-line;
      }
    </style>
  </head>
  <body>
    <!-- header include -->
    <%- include('./include/header.ejs') %>

    <!-- {
        contentID: 1,
        title: "글 제목1",
        content: "글 내용1",
        img: null, //null or path(string)
        }, -->
    <h1><%=title %></h1>
    <div>
      <p><%=content%></p>

      <%if (img) { %>
      <img
        src="/<%=img %>"
        alt="<%=contentID %>번글 이미지"
        width="200px"
        height="200px"
      />
      <%}%>

      <!-- 
          /r CR
          /n LF
          /r/n CRLF 
          개행문자 처리
       -->
    </div>
  </body>
</html>
