<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../public/img/css/resultcss.css"
      type="text/css"
    />
  </head>
  <body>
    <h1><span><%= name %></span>님 마이페이지</h1>
    <img
      src="<%= profileImagePath %>"
      alt="기본 프로필 이미지"
      width="200"
      height="200"
      class="profile"
    />

    <div class="container">
      <label
        ><span id="title">아이디</span><span id="meta"><%= id%></span></label
      >
      <br />
      <label
        ><span id="title">비밀번호</span><span id="meta"><%= pw%></span></label
      >
      <br />
      <label
        ><span id="title">이름</span><span id="meta"><%= name%></span></label
      >
      <br />
      <label
        ><span id="title">나이</span><span id="meta"><%= age%></span></label
      >
    </div>
  </body>
</html>
